.gallery {
  padding-top: 24px;
  padding-bottom: 24px;


  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.gallery-item {
  list-style: none;
  margin: 0px;
  width: 360px;
  height: 200px;
}

.gallery-link {
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
}
